* {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 15px;
  margin-top: 5px;
}

section {
  align-items: center;
  justify-content: center;
}

div#restore {
  border: 2px solid grey;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 10px 10px 5px lightgrey;
}

#restore {
  display: block;
  text-align: center;
  font-weight: lighter;
}

img {
  margin-bottom: 10px;
}

p#please {
  text-align: justify;
}

label {
  text-transform: uppercase;
  margin-bottom: 30px;
}

#user {
  padding-left: 4px;
  padding-right: 40px;
  margin-right: 10px;
}

i {
  color: #1b3351;
}

input {
  color: black;
  font-weight: lighter;
}

input#enviar {
  box-shadow: 2px 2px 1px lightgrey;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 40px;
  width: 35%;
  float: right;
}
